<h1>StaticPages#help</h1>
<p>Find me in app/views/static_pages/help.html.erb</p>

<button type="button">to home!</button>

<input type="button" onclick="location.href='http://localhost:3000/static_pages/home';" value="to home!" />