<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
    
  </head>
<body>
<h1>StaticPages#help</h1>
<p>Find me in app/views/static_pages/help.html.erb</p>

<button type="button">useless button!</button>

<input type="button" onclick="location.href='/static_pages/home';" value="to home!" />
</body>

</html>